<body>
        <h3><div style="position: absolute; top: 410px;left: 80px;">Блок 1</div></h3>
        <h3><div style="position: absolute; top: 410px;left: 180px;">Блок 2</div></h3>
        <h3><div style="position: absolute; top: 410px;left: 280px;">Блок 3</div></h3>
        <h3><div style="position: absolute; top: 410px;left: 380px;">Блок 4</div></h3>
        <h3><div style="position: absolute; top: 410px;left: 480px;">Блок 5</div></h3>
        <h3><div style="position: absolute; top: 410px;left: 580px;">Блок 6</div></h3>


        <h3><div style="position: absolute; top: 390px;left: 70px;">2</div></h3>
        <h3><div style="position: absolute; top: 290px;left: 70px;">3</div></h3>
        <h3><div style="position: absolute; top: 190px;left: 70px;">4</div></h3>
        <h3><div style="position: absolute; top: 90px;left: 70px;">5</div></h3>

		<div style="position: absolute; top: 100px;left: 750px;">
    		<ul>
                <h4>
                    <li>Блок 1 -  Администрирование компьютерных систем</li>
                    <li>Блок 2 -  Безопасность информации при передаче по физическим средам</li>
                    <li>Блок 3 -  Вспомогательные дисциплины</li>
                    <li>Блок 4 -  Математический цикл</li>
                    <li>Блок 5 -  Прикладной математический цикл</li>
                    <li>Блок 6 -  Разработка средств защиты информации</li></h4>
            </ul>
        </div>

		<canvas canvas id="example" width="700" height="500" style="border:1px solid #d3d3d3;">Graphics</canvas>

		<script>
			var example = document.getElementById("example"),
			ctx = example.getContext('2d');
			example.height = 500;
			example.width  = 700;
			ctx.lineWidth = 1;
            ctx.strokeStyle = "#d3d3d3";			

            for (var x = 0; x < 601 ; x += 100) {                
                ctx.moveTo(x, 0);
                ctx.lineTo(x, 400);
            }
            for (var x = 0; x < 701 ; x += 100) {                
                ctx.moveTo(100, x);
                ctx.lineTo(600, x);
            }
            ctx.stroke();

            ctx.lineWidth = 0.08;
            ctx.setLineDash([4, 4]);
            ctx.lineDashOffset = 2;
            ctx.strokeStyle = "black";
            ctx.beginPath();
            for (var x = 110; x < 300 ; x += 10) {
                if (x == 200) continue;
                ctx.moveTo(100, x);
                ctx.lineTo(600, x);
            }
            ctx.stroke();
		</script>       

        <script>
            r = 0; g = 128; b = 255;
            {% for cluster in clusters %}
                ctx.lineWidth = 2;
                ctx.setLineDash([0, 0]);
                ctx.beginPath();
                {% for point in cluster.graphic %}
                    ctx.lineTo({{point.h_coordinate}}, {{point.v_coordinate}});
                    ctx.moveTo({{point.h_coordinate}}, {{point.v_coordinate}});
                {% endfor %}
                r = r + 80;
                b = b - 80;
                ctx.strokeStyle = 'rgb('+ r +','+ g +','+ b +')';
                ctx.stroke();                
            {% endfor %}
        </script>

</body>
{% if clusters %}
    <table border="1">
        <caption><h3>Кластеры</h3></caption>
        <meta charset="utf-8">
        <tr>
        <th style="color:rgb(80, 128, 175)">Кластер 1</th>
        <th style="color:rgb(160, 128, 95)">Кластер 2</th>
        <th style="color:rgb(240, 128, 15)">Кластер 3</th>
        </tr>
        <tr>
        {% for cluster in clusters %}        
            <th>
                <ul>
                {% for object in cluster.students %}
                    <li><a href="/cluster/{{ object.id }}/">{{ object.name }}</a></li>
                {% endfor %}
                </ul>
            </th>
        {% endfor %}
        </tr>
    </table>

    <table border="1" id="averages">
        <caption><h3>Средние баллы по блокам в кластерах</h3></caption>
        <meta charset="utf-8">
        <tr>
        <th></th>
        <th>Администрирование КС</th>
        <th>БИ при передаче по ФС</th>
        <th>Вспомогательные</th>
        <th>Мат. цикл</th>
        <th>Прикладной мат. цикл</th>
        <th>Разработка СЗИ</th>
        </tr>

        <script>         
            r = 0; g = 128; b = 255;            
            {% for cluster in clusters%}
                r = r + 80;
                b = b - 80;
                document.getElementById('averages').innerHTML += '<tr id="{{cluster.name}}"><th>{{cluster.name}}</th></tr>';
                {% for score in cluster.centroid %}
                    document.getElementById('{{cluster.name}}').innerHTML += '<th style="color: rgb('+r+','+g+','+b+')">{{score}}</th>';
                {% endfor %}                
            {% endfor %}         
        </script>
        
    </table>
{% else %}
    <p>No clusters are available.</p>
{% endif %}